<div class="bg-info m-2 p-2" [ngSwitch] = "model.getProductCount()" >
    <span *ngSwitchCase="0"> There are no products </span>
    <span *ngSwitchCase="1"> There are 1 products </span>
    <span *ngSwitchCase="2"> There are 2 products </span>
    <span *ngSwitchCaseDefault> There are many products </span>
</div>

<div class="bg-info m-2 p-2" [ngSwitch] = "model.getProductsById(1)!.name" >
    <span *ngSwitchCase="productName"> Samsung S5 </span>
    <span *ngSwitchCase="'Samsung S6'"> Samsung S6 </span>
    <span *ngSwitchCase="'Samsung S7'"> Samsung S7 </span>
    <span *ngSwitchCaseDefault> TOther Products </span>
</div>